<<<<<<< HEAD
* {
=======
*{
>>>>>>> 68dbaf6f8bf6f6fc7238bbe95f8881edcd549798
    margin: 0;
    padding: 0;
}


header,
footer {
    width: 100%;
    height: 120px;
<<<<<<< HEAD
    background-color: rgb(55, 0, 255);
=======
    background-color: blue;
>>>>>>> 68dbaf6f8bf6f6fc7238bbe95f8881edcd549798
    color: white;
}


<<<<<<< HEAD
h1,
=======
h1'
>>>>>>> 68dbaf6f8bf6f6fc7238bbe95f8881edcd549798
h2 {
    text-align: center;
}


img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}


ul {
    padding-left: 40px;
    font-size: 20px;
}


p {
    text-align: center;
    font-size: 30px;
<<<<<<< HEAD
}


.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid gray;
    box-shadow: 5px 10px #888888;
=======
>>>>>>> 68dbaf6f8bf6f6fc7238bbe95f8881edcd549798
}